.chatBotContainer{
  width:300px;
  background-color: white;
  padding: 10px;
}

.App{
  background-color: black;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-chat-container {
  background-color: yellow;
}

.react-chatbot-kit-chat-header {
  background-color: red;
}